body{
    background: url('../images/gravel.png');
}

header{
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
}

#brando{
    font-size: 24pt;
    text-align: center;
    color: #ffffff;
    background-color: #4aaaa5;
    height: 61px;
    width: 240px;
    padding: 6px;
}

.content{
    background-color: #ffffff;
    background: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    position: relative;
    padding: 40px;

}

.card_content{
    /* background-color: #ffffff; */
    /* background: #ffffff; */
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    position: relative;
    padding: 40px;

}

#profilepic{
    width: 200px;
    padding: 0px 20px 0px 0px;
    float: left;
}

.portfolio_pics{
    width: 300px;
    /* height: 225px; */
    margin: 10px;
}

.port_tags{
    position: relative;
    bottom: 70px;
    width: 300px;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* font-weight: normal; */
	text-align: center;
    background-color: #4aaaa5;
    color: #ffffff;
	z-index: 10;

}

.social_icon {
    width: 62px;
    height: 62px;
    margin-top: 8px;
    margin-right: 5px;
}

footer{
    clear: both;
    background-color: #666666;
    position: relative;
    bottom: 0;
    height: 40px;
    width: 100%;
    border-top: 10px solid #4aaaa5;

}

#green-footer{
    clear: both;
    background-color: #4aaaa5;
    height: 5px;
    width: 100%;

}

#grey-footer{
    clear: both;
    background-color: #666666;
    height: 20px;
    width: 100%;
}

@media screen and (max-width:375px)
{
    .portfolio_pics{
        width: 250px;
    }

    .port_tags{
        width: 250px;
    }
}